:root {
    /* --sticky-color: #0f503e;
    --title-color: #1DCD9F;
    --hover-color: #169976; 
    --block-color: #0c3529;
    --border-color: #0c3529;
    --background-color: black; */

    --background-color: pink;
    --border-color: black;
    --button-color: black;
    --hover-color: #1DCD9F;
    --title-color: black;
    --text-color-black: black;
    --text-color-white: white;
    --text-outline: 
        1px 1px 0 var(--title-color),
        -1px 1px 0 var(--title-color),
        -1px -1px 0 var(--title-color),
        1px -1px 0 var(--title-color);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: "Cherry Bomb One";
}

.navBar {
    background-color: var(--background-color);
    color: var(--border-color);
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 95vw;
    height: 5vh;
    top: 10%;
    border-radius: 0 45px 45px 0;
    border: solid;
    transition: all 0.5s ease-out;
}

.navBar.close {
    width: 0vw;
    min-width: 60px;
}

.navBar .navOpenButton {
    background-color: var(--sticky-color);
    color: var(--button-color);
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 60px;
    height: 100%;
    right: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 0 45px 45px 0;
    border: none;
    padding: 0%;
    font-size: 2.5vh;
    transition: all 0.5s ease-out;
}

.navBar .navOpenButton:hover {
    color: var(--hover-color);
}

.navBar .navblock {
    background-color: var(--sticky-color);
    color: var(--text-color-black);
    display: flex;
    position: relative;
    width: 24%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    border: none;
    padding: 0;
    font-size: 150%;
    text-decoration: none;
    transition: all 0.5s ease-out;
    z-index: 1;
}

.navBar.close .navblock {
    width: 0%;
    opacity: 0%;
    z-index: 1000;
}

.navBar .navblock:hover {
    color: var(--hover-color);
}


.material-symbols-outlined.arrow {
    background-color: var(--background-color);
    color: var(--button-color);
    display: flex;
    position: fixed;
    aspect-ratio: 1 / 1;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 45px;
    border: solid;
    border-color: var(--border-color);
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 3.7vh;
    z-index: 1000;
}

.arrow:hover {
    /* background-color: var(--hover-color); */
    color: var(--hover-color);
}

.title {
    color: var(--title-color);
    display: flex;
    position: relative;
    width: 50%;
    /* height: 20%; */
    min-height: 30vh;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 6vw;
    overflow: hidden;
}

.sectionHeader {
    background-color: var(--background-color);
    color: var(--text-color-black);
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 70px;
}

.page {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionContainer {
    background-color: var(--block-color);
    display: flex;
    position: relative;
    width: 75vw;
    border: 1px var(--border-color);
    border-radius: 80px;
    border-style: solid;
    align-items: center;
    flex-direction: column;
}

.contentContainer {
    display: flex;
    position: relative;
    width: 65vw;
    align-items: center;
    flex-direction: row;
}

.contentHeader {
    color: var(--text-color-black);
}

.contentText {
    color: var(--text-color-black);
    display: flex;
    padding: 15px;
    font-size: 25px;
    font-weight: 900;
}

.page.about .contentText {
    flex-direction: column;
    max-width: 750px;
}

.contentImage {
    display: flex;
    width: 100%;
    max-height: 800px;
    min-width: 500px;
    justify-content: center;
    margin: 30px;
}

.image {
    display: flex;
    position: relative;
    max-width: 100%;
    border: solid;
    border-color: var(--border-color);
}

.page.about .image {
    /* height: auto; */
    margin: 20px;
}

.contentGrid {
    /* background-color: blueviolet; */
    display: grid;
    width: 65vw;
    min-height: 105vh;
    margin-bottom: 5vh;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 550px);
    column-gap: 5vw;
    row-gap: 5vh;
}

.gridBox {
    background-color: var(--block-color);
    border: 4px var(--border-color);
    border-style: solid;
    min-height: 35vh;
    text-decoration: none;
}

.gridBox:hover {
    rotate: -5deg;
    border-color: var(--hover-color);
}

.gridBox .image {
    border: none;
    border-bottom: solid;
    border-color: var(--border-color);
}

.gridHeader {
    color: var(--text-color-black);
    /* text-shadow: var(--text-outline); */
    display: flex;
    justify-content: center;
}

.hidden {
    opacity: 0;
    translate: 0px 100px;
    transition: 1000ms;
}

.shown {
    opacity: 1;
    translate: 0px 0px;
}

/* Mobile Adaptiveness */
@media only screen and (max-width: 1200px) {
    .navBar.close {
        min-width: 100px;
    }
    
    .navOpenButton {
        min-width: 100px;
    }
    
    .contentContainer {
      flex-direction: column;
    }
}
