:root {
    --sticky-color: #0f503e;
    --title-color: #1DCD9F;
    --hover-color: #169976; 
    --block-color: #0c3529;
    --text-outline: 
        1px 1px 0 var(--title-color),
        -1px 1px 0 var(--title-color),
        -1px -1px 0 var(--title-color),
        1px -1px 0 var(--title-color);
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: var(--sticky-color);
    color: white;
    display: flex;
    position: fixed;
    width: 95vw;
    height: 5vh;
    top: 10%;
    border-radius: 0 45px 45px 0;
    transition: all 0.5s ease-out;
}

.navBar.close {
    width: 0vw;
    min-width: 60px;
}

.navBar .navOpenButton {
    background-color: var(--sticky-color);
    color: black;
    display: flex;
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 0 45px 45px 0;
    border: none;
    padding: 0%;
    /* align-self: center; */
    font-size: 2.5vh;
    transition: all 0.5s ease-out;
}

.navBar .navOpenButton:hover {
    color: white;
}

.navBar .navblock {
    background-color: var(--sticky-color);
    color: black;
    display: flex;
    position: relative;
    width: 24%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    border: none;
    font-size: 150%;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.navBar.close .navblock {
    width: 0%;
    opacity: 0%;
}

.navBar .navblock:hover {
    color: white;
}

.material-symbols-outlined.arrow {
    background-color: var(--sticky-color);
    color: black;
    display: flex;
    position: fixed;
    aspect-ratio: 1 / 1;
    top: 83%;
    /* left: calc(50% - 2vh);; */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 45px;
    border: none;
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 3.7vh;
    transition: all 0.5s ease-out;
    

}

.arrow:hover {
    background-color: var(--hover-color);
    color: white;
}

.title {
    /* background-color: green; */
    color: var(--title-color);
    display: flex;
    position: relative;
    width: 98.5vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    overflow: hidden;
}

.page1 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page1 .sectionContainer {
    background-color: var(--block-color);
    color: black;
    display: flex;
    position: relative;
    width: 75vw;
    border: 1px var(--title-color);
    border-radius: 80px;
    border-style: solid;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.page1 .contentContainer {
    /* background-color: red; */
    color: black;
    display: flex;
    position: relative;
    width: 65vw;
    height: 65vh;
    flex-direction: row;
}

.page1 .contentText {
    flex-direction: column;
    max-width: 750px;
}

.page1 .contentHeader {
    text-shadow: var(--text-outline);
}

.page1 .contentImage {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.page1 .image {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.page2 {
    display: flex;
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 10%;
}

.page2 .contentHeader {
    color: var(--block-color);
    text-shadow: var(--text-outline);
    font-size: 70px;
}

.page2 .contentGrid {
    /* background-color: blueviolet; */
    color: var(--block-color);
    display: grid;
    width: 65vw;
    /* height: 65vh; */
    min-height: 105vh;
    margin-bottom: 5vh;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 550px);
    column-gap: 5vw;
    row-gap: 5vh;
}

.gridBox {
    background-color: var(--block-color);
    border: 1px var(--title-color);
    border-style: solid;
    min-height: 35vh;
}

.gridBox .image {
    display: flex;
    max-width: 100%;
}

.gridHeader {
    color: black;
    text-shadow: var(--text-outline);
    display: flex;
    justify-content: center;
}

.contentText {
    color: black;
    /* -webkit-text-stroke-width: 1.0px;
    -webkit-text-stroke-color: var(--title-color); */
    text-shadow: var(--text-outline);
    display: flex;
    padding: 5px;
    font-size: 25px;
    font-weight: 900;
}

/* Mobile Adaptiveness */
@media only screen and (max-width: 1200px) {
    .navBar.close {
        min-width: 100px;
    }
    
    .navOpenButton {
        min-width: 100px;
    }
    
    .page1 .contentContainer {
      flex-direction: column;
    }
}
